body {
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  line-height: 24px; }

h3 {
  font-size: 24px; }

.wrap {
  max-width: 1173px;
  margin: 0 auto; }

.page-main {
  background: url(../img/bg.png) center center/cover no-repeat;
  color: #fff;
  padding-bottom: 163px; }

.page {
  padding-top: 160px;
  padding-bottom: 160px; }
  .page_gray {
    background-color: #F5F6FA; }
  .page__title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px; }
  .page__subtitle {
    color: #65E496;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.9px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1173px;
  margin: 0 auto;
  padding-top: 57px;
  padding-bottom: 166px; }
  .header__logo {
    background: url(../img/logo.svg) center center/cover no-repeat;
    display: block;
    width: 139px;
    height: 31px; }
  .header-list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-family: 'Open Sans', sans-serif; }
    .header-list__item {
      margin-left: 20px;
      padding-bottom: 5px;
      border-bottom: 3px solid transparent;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .header-list__item:hover {
        border-bottom: 3px solid #65E496; }
    .header-list__item.active {
      border-bottom: 3px solid #65E496; }
    .header-list__link {
      color: #fff;
      text-decoration: none;
      letter-spacing: 0.5px; }

.block-text {
  -ms-flex-preferred-size: calc(93% - 500px);
      flex-basis: calc(93% - 500px); }
  .block-text__name {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 0.7px;
    margin-top: 0; }
  .block-text__name_top {
    margin-top: 11px; }
  .block-text__title {
    font-size: 48px;
    letter-spacing: 1.8px;
    margin-bottom: 42px;
    margin-top: 10px; }
    .block-text__title span {
      display: block;
      color: #65E496;
      font-size: 18px;
      letter-spacing: 0.9px;
      margin-top: 5px;
      margin-bottom: -4px; }
  .block-text__description {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 25px;
    letter-spacing: 0.7px; }
  .block-text__btn {
    display: block;
    background-color: #65E496;
    color: #fff;
    text-decoration: none;
    max-width: 251px;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
    padding: 15px 0px;
    margin-bottom: 10px;
    margin-top: 47px;
    letter-spacing: 0.7px; }
  .block-text small {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
    letter-spacing: 0.1px; }

.block-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .block-book-demo {
    display: block;
    width: 446px;
    height: 640px;
    background-image: url(../img/book.svg);
    background-repeat: no-repeat;
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px; }

.block-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.block-ava {
  position: relative; }
  .block-ava__svg {
    position: absolute;
    z-index: -1;
    right: 0; }
  .block-ava__img {
    margin-top: 49px;
    margin-right: 44px; }

.block-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 159px; }
  .block-counter p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.8px; }
    .block-counter p span {
      font-family: 'Roboto Slab', serif;
      display: block;
      font-size: 80px;
      font-weight: 100;
      color: #65E496;
      margin-bottom: 47px; }

.block-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 82px; }
  .block-about h3 {
    margin-bottom: 20px;
    letter-spacing: 1.2px; }
  .block-about-text {
    -ms-flex-preferred-size: 41%;
        flex-basis: 41%; }
    .block-about-text__desc {
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 0.6px; }
  .block-about-table {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%; }
    .block-about-table__list {
      margin: 0;
      padding: 0;
      counter-reset: list;
      -webkit-column-count: 2;
              column-count: 2;
      margin-top: 25px; }
      .block-about-table__list > li {
        position: relative;
        padding-left: 37px;
        counter-increment: list;
        list-style-type: none;
        margin-bottom: 8px;
        letter-spacing: 0.7px; }
        .block-about-table__list > li::before {
          content: counter(list) " ."; }
        .block-about-table__list > li::after {
          content: "+";
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
          position: absolute;
          left: 0;
          top: 1px;
          line-height: 22px;
          background-color: #58c0ad;
          color: #fff;
          padding: 0px 7px; }
    .block-about-table__btn {
      background-color: #65E496;
      color: #fff;
      text-decoration: none;
      max-width: 251px;
      border: none;
      border-radius: 3px;
      text-align: center;
      font-size: 18px;
      padding: 14px 45px;
      margin-bottom: 19px;
      margin-top: 28px;
      letter-spacing: 0.7px; }
  .block-about-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 14px; }
    .block-about-social__title {
      font-family: 'Roboto Slab', serif;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.9px; }
    .block-about-social__list {
      list-style-type: none;
      padding-left: 23px; }
      .block-about-social__list > li {
        display: inline-block;
        font-size: 18px;
        vertical-align: middle;
        margin-right: 12px; }
        .block-about-social__list > li > a {
          color: #65E496; }

/*# sourceMappingURL=style.css.map */