body {
  font-family: 'Roboto Slab', serif; }

.wrap {
  max-width: 1173px;
  margin: 0 auto; }

.page-main {
  background: url(../img/bg.png) center center/cover no-repeat;
  color: #fff;
  padding-bottom: 163px; }

.page {
  padding-top: 160px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1173px;
  margin: 0 auto;
  padding-top: 57px;
  padding-bottom: 166px; }
  .header__logo {
    background: url(../img/logo.svg) center center/cover no-repeat;
    display: block;
    width: 139px;
    height: 31px; }
  .header-list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-family: 'Open Sans', sans-serif; }
    .header-list__item {
      margin-left: 20px;
      padding-bottom: 5px;
      border-bottom: 3px solid transparent;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .header-list__item:hover {
        border-bottom: 3px solid #65E496; }
    .header-list__item.active {
      border-bottom: 3px solid #65E496; }
    .header-list__link {
      color: #fff;
      text-decoration: none;
      letter-spacing: 0.5px; }

.block-text {
  -ms-flex-preferred-size: calc(93% - 500px);
      flex-basis: calc(93% - 500px); }
  .block-text__name {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 0.7px;
    margin-top: 0; }
  .block-text__name-top {
    margin-top: 179px; }
  .block-text__title {
    font-size: 48px;
    letter-spacing: 1.8px;
    margin-bottom: 42px;
    margin-top: 10px; }
    .block-text__title span {
      display: block;
      color: #65E496;
      font-size: 18px;
      letter-spacing: 0.9px;
      margin-top: 5px;
      margin-bottom: -4px; }
  .block-text__description {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 25px;
    letter-spacing: 0.7px; }
  .block-text__btn {
    display: block;
    background-color: #65E496;
    color: #fff;
    text-decoration: none;
    max-width: 251px;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
    padding: 15px 0px;
    margin-bottom: 10px;
    margin-top: 47px;
    letter-spacing: 0.7px; }
  .block-text small {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
    letter-spacing: 0.1px; }

.block-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .block-book-demo {
    display: block;
    width: 446px;
    height: 640px;
    background-image: url(../img/book.svg);
    background-repeat: no-repeat;
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px; }

.block-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.block-ava {
  position: relative; }
  .block-ava__svg {
    position: absolute;
    z-index: -1;
    right: 0; }
  .block-ava__img {
    margin-top: 49px;
    margin-right: 44px; }

/*# sourceMappingURL=style.css.map */